* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    --primary-text: #555555;
    --accent-color: #7AC751;
    --bg-color:white;
    --second-color:#F7F8FA;
    --border-color:#E3E3E3;
    --discount-color:#00B7F1;
    --pad:13.5rem;
    background-color: var(--bg-color);
}
body {
    font-family: 'Rubik';
    color: var(--primary-text);
    background-color: var(--bg-color);
}
p
{
    font-size: 1.6rem;
}
.first_part
{
    height: 5rem;
    background-color: var(--accent-color);
    color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding-left:var(--pad);
    padding-right:var(--pad);
}
button
{
    background: none;
    border: none;
}
header i
{
    color: var(--bg-color);
    font-size: 2rem;
}
.theme_vis
{
    align-items: center;
    display: flex;
    gap: 2rem;
}
.log_lang
{
    align-items: center;
    display: flex;
    gap: 2rem;
}
.lang
{
    display: flex;
    gap: 8px;
}
.lang i
{
    font-size: 1.2rem;
}
hr
{
    background-color: var(--bg-color);
    height: 1.9rem;
    width: 2.2px;
    border: none;
    border-radius: 0.4px;
}
a
{
    text-decoration: none;
    color:inherit;
    font-size: 1.6rem;
}
.second_part
{
    height: 9.2rem;
    display: flex;
    justify-content: space-between;
    padding-left:var(--pad);
    padding-right:var(--pad);
    align-items: center;
}
.logo
{
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo h4
{
    font-size: 2.4rem;
}
.nav_b
{
    display: flex;
    gap: 3rem;
}
nav *
{
    list-style: none;
    display: flex;
    gap: 6.5rem;
}
.coll_header
{
    height: 6.7rem;
    background-color: var(--second-color);
    padding-left:var(--pad);
    padding-right:var(--pad);
}
.categories_menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--accent-color);
    color: white;
    height: 100%;
    width: 26rem;
}
.content
{
    display: flex;
    padding-left:var(--pad);
    padding-right:var(--pad);
}
.categories
{
    width: 26rem;
    font-size: 1.4rem;
    background-color: var(--second-color);
}
ul
{
    list-style: none;
}

.categories li
{
    height: 4rem;
    border-top:var(--border-color) solid 0.8px;
    display: flex;
    align-items: center;
    padding-left: 3rem;
}
.moto
{
    background-color: aqua;
    flex: 1;
    margin-left: 1.1rem;
    margin-top: 1.2rem;
    border-radius: 1px;
}
.advantages
{
    margin-top: 6.5rem;
    display: flex;
    justify-content: space-between;
    margin-left: var(--pad);
    margin-right: var(--pad);
}
.adv
{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.adv h4
{
    font-size: 2rem;
}
.adv p
{
    font-size: 1.4rem;
}
.furniture,.book,.sofa
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5rem;
    padding-left: 3rem;
    box-sizing: border-box;
}
.collections
{
    margin-top: 7rem;
    display:flex;
    margin-left: var(--pad);
    margin-right: var(--pad);
    gap: 1.9rem;
    font-family: 'Mulish', sans-serif;
}
.furniture
{
    width: 46.4vw;
    height: 35.4vw;
    background: url(../img/furniture.svg);
}
.book
{
    background: url(../img/book.svg);
    width: 48.5rem;
    height: 24.7rem;
}
.sofa
{
    background: url(../img/sofa.svg);
    width: 48.5rem;
    height: 24.7rem;
}
.un{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}
.collections h3
{
    font-size: 2.2rem;
}
.collections h4
{
    font-size: 2rem;
    color:var(--accent-color);
    font-weight: normal;
}
.collections a
{
    font-size: 1.6rem;
    text-decoration: none;
}
.bold
{
    font-weight: bold;
}
.offer_section
{
    margin-top: 9.4rem;
    margin-bottom: 10.6rem;
}
h2
{
    font-size: 3.6rem;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}
.offers
{
    margin-top: 6rem;
    display: flex;
    gap: 3rem;
    margin-left: var(--pad);
    margin-right: var(--pad);
}
.offer
{
    display: flex;
    flex-direction: column;
    padding-left: 2.4rem;
    box-sizing: border-box;
    flex: 1;
}
.discount
{
    display: flex;
    background:var(--discount-color);
    color: white;
    font-size: 1.2rem;
    width: 6.4rem;
    height:2.3rem;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    margin-left: auto;
}
.offer h3
{
    margin-top: 5px;
    max-width: 24rem;
    font-size: 2.2rem;
    letter-spacing: 0%;
    font-family: 'Mulish', sans-serif;
}
.offer p
{
    max-width: 22.7rem;
    margin-top: 1.1rem;
    font-size: 1.2rem;
}
.price
{
    max-width: 22.7rem;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
}
.new
{
    color: var(--accent-color);
    font-size: 1.8rem;
    letter-spacing: 0.5%;
    line-height: 120%;
}
.old
{
    color: var(--border-color);
    font-size: 1.8rem;
    letter-spacing: 0.5%;
    line-height: 120%;
    text-decoration:line-through;
}
.price button
{
    display: flex;
    background-color: var(--accent-color);
    color: white;
    width: 9.1rem;
    height: 2.6rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-left: 4rem;
}
.time
{
    display: flex;
    gap: 1.8rem;
    margin-top: 3.1rem;
    margin-bottom: 3rem;
}
.time div
{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 5px;
    background-color: var(--accent-color);
    color: white;
    font-size: 1.4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.time_type
{
    font-size: 6px;
    text-transform: uppercase;
}
#first
{
    background: url(../img/1offer.svg);
}
#second
{
    background: url(../img/2offer.svg);
}

